In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date
import datetime
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Read data

In [3]:
# offline training set
df_off_train = pd.read_csv('data/ccf_offline_stage1_train.csv', keep_default_na=True)
df_off_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 
                        'distance', 'date_received', 'date']
df_off_train.head()

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [5]:
# online training set
df_on_train = pd.read_csv('data/ccf_online_stage1_train.csv', keep_default_na=True)
df_on_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 
                        'distance', 'date_received', 'date']
df_on_train.head()

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0

In [6]:
# test set
df_off_test = pd.read_csv('data/ccf_offline_stage1_test_revised.csv', keep_default_na=True)
df_off_test.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 
                       'distance', 'date_received']
df_off_test.head()

   user_id  merchant_id  coupon_id discount_rate  distance  date_received
0  4129537          450       9983          30:5       1.0       20160712
1  6949378         1300       3429          30:5       NaN       20160706
2  2166529         7113       6928        200:20       5.0       20160727
3  2166529         7113       1808        100:10       5.0       20160727
4  6172162         7605       6500          30:1       2.0       20160708

# Expolration
## Overlap of IDs

In [9]:
def overlap_perc(feat_col, feat_name=None):

    if feat_name is None:
        feat_name = feat_col
        
    off_train = df_off_train[feat_col].copy().drop_duplicates()
    on_train = df_on_train[feat_col].copy().drop_duplicates()
    off_test = df_off_test[feat_col].copy().drop_duplicates()

    # 1. offline train set and test set
    diff_off_tr_te = set(off_train) - set(off_test)
    same_perc = (len(off_train) - len(diff_off_tr_te)) / len(off_test)
    
    print('Overlapping perc btw offline trainset and testset of', feat_name, 'is:', same_perc)

    # 2. online train set and test set
    diff_on_tr_te = set(on_train) - set(off_test)
    same_perc = (len(on_train) - len(diff_on_tr_te)) / len(off_test)
    
    print('Overlapping perc btw online trainset and testset of', feat_name, 'is:', same_perc)

In [10]:
# users
overlap_perc(feat_col='user_id', feat_name='user')

Overlapping perc btw offline trainset and testset of user is: 0.9999737907717308
Overlapping perc btw online trainset and testset of user is: 0.5655296229802513