In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date
import datetime
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Read data

In [10]:
# training set
df_off_train = pd.read_csv('data/ccf_offline_stage1_train.csv', keep_default_na=True)
df_off_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 
                        'distance', 'date_received', 'date']
df_off_train.head()

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [11]:
# test set
df_off_test = pd.read_csv('data/ccf_offline_stage1_test_revised.csv', keep_default_na=True)
df_off_test.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 
                       'distance', 'date_received']
df_off_test.head()

   user_id  merchant_id  coupon_id discount_rate  distance  date_received
0  4129537          450       9983          30:5       1.0       20160712
1  6949378         1300       3429          30:5       NaN       20160706
2  2166529         7113       6928        200:20       5.0       20160727
3  2166529         7113       1808        100:10       5.0       20160727
4  6172162         7605       6500          30:1       2.0       20160708